.wraper {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.wraper > p:hover {
  animation-duration: 300ms;
  cursor: pointer;
  color: aqua;
  transition: filter 300ms;
}
