.compareAlgoWrapper {
  position: absolute;
  top: 33%;
  left: -600px;
  min-height: 300px;
  width: auto;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.45);
  border-radius: 8px;
  padding: 1rem 1.5rem;
  gap: 10px;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  cursor: auto;
  transition: 0.3s ease;
}

.compareAlgoWrapperOpened {
  left: 2.5rem;
  transition: 0.3s ease;
}

.header {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.algosWrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.algosWrapper > button {
  padding: 5px 10px;
}

.buttons {
  display: flex;
}

.buttons > button {
  margin: 0px 0px 0px 10px;
  padding: 5px 10px;
}
