.compareAlgoWrapper {
  position: absolute;
  top: 33%;
  left: -600px;
  height: 340px;
  width: 600px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.45);
  border-radius: 8px;
  padding: 1rem 1.5rem;
  gap: 10px;
  margin: 0;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  cursor: auto;
  transition: 0.3s ease;
}

.list {
  overflow: auto;
  height: max-content;
  display: flex;
  padding: 0.5rem 0.5rem;
  gap: 10px;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  cursor: auto;
  transition: 0.3s ease;
}

@media screen and (max-height: 719px) {
  .compareAlgoWrapper {
    top: 46%;
    height: 200px;
  }
}

.compareAlgoWrapperOpened {
  left: 2.5rem;
  transition: 0.3s ease;
}

.row {
  display: grid;
  width: 500px;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(5, 1fr);
}

.algosWrapper > button {
  padding: 5px 10px;
}

.buttons {
  height: min-content;
  padding: 0rem 0.5rem;
  display: flex;
}

.buttons > button {
  margin: 0px 0px 0px 10px;
  padding: 5px 10px;
}
