button {
  color: white;
  background: #161616;
  border-radius: 5px;
  margin: 2px 20px;
  font-size: 1rem;
  padding: 3px;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #353535;
}

button:active {
  animation: grow 0.2s ease-out;
}

@keyframes grow {
  0% {
    transform: scale(1);
  }

  40% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(1);
  }
}
