.nodesWraper {
  display: grid;
  overflow: hidden;
  grid-template-rows: repeat(21, 1fr);
}

.rowWraper {
  display: grid;
  grid-template-columns: repeat(51, 1fr);
}

.node {
  border: 1px #b6b6b6 solid;
  /* aspect-ratio: 1; */
  cursor: pointer;
  /* aspect-ratio: 1; */
  animation: grow4 0.5s linear;
}
