.clear {
  border: 1px #b6b6b6 solid;
  /* aspect-ratio: 1; */
  cursor: pointer;
  /* aspect-ratio: 1; */
  animation: grow4 0.5s linear;
}

.wall {
  background: #353535;
  border: 1px #353535 solid;
  animation: grow 0.3s linear;
}

.visited {
  background: #60eafc;
  border: 1px #1bb6ca solid;
}

.path {
  background: #fff022;
  border: 1px #ddd01f solid;
  /* animation: pathAnim 0.7s linear; */
}

.start {
  background: rgb(41, 255, 41);
  border: 1px rgb(36, 201, 36) solid;
  animation: grow2 0.5s linear;
}
.end {
  background: rgb(253, 8, 8);
  border: 1px rgb(189, 10, 10) solid;
  animation: grow3 0.5s linear;
}
@keyframes grow {
  0% {
    transform: scale(0.1);
  }

  40% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes pathAnim {
  0% {
    transform: scale(0.5);
  }

  30% {
    transform: scale(1.2);
    background: #1ef637;
  }

  100% {
    transform: scale(1);
    background: #ddd01f;
  }
}

@keyframes grow2 {
  0% {
    transform: scale(1);
  }

  40% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}
@keyframes grow3 {
  0% {
    transform: scale(1);
  }

  40% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}
