.sidePanel {
  position: absolute;
  transform-origin: top left;
  transform: rotate(-90deg) translateX(-100%);
  left: 0;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.2rem;
  background-color: #161616;
  color: white;
  margin: 0px;
  cursor: pointer;
  z-index: 10;
  transition: 0.3s ease;
}

.stats {
  top: 10%;
  padding: 5px 20px;
}

.compare {
  top: 32%;
  padding: 5px 100px;
}

@media screen and (max-height: 719px) {
  .stats {
    top: 15%;
  }
  .compare {
    top: 45%;
    padding: 5px 40px;
  }
}

.triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0.6rem 0.35rem 0 0.35rem;
  border-color: #ffffff transparent transparent transparent;
  line-height: 0px;
  _border-color: #ffffff #161616 #161616 #161616;
  _filter: progid:DXImageTransform.Microsoft.Chroma(color='#ffffff');
  transition: 0.2s ease;
}

.triangleOpened {
  width: 0;
  height: 0;
  transform: rotate(180deg);
  border-style: solid;
  border-width: 0.6rem 0.35rem 0 0.35rem;
  border-color: #ffffff transparent transparent transparent;
  line-height: 0px;
  _border-color: #ffffff #161616 #161616 #161616;
  _filter: progid:DXImageTransform.Microsoft.Chroma(color='#ffffff');
  transition: 0.2s ease;
}
